body{
margin-top: 100px;
margin-bottom: 100px;
}

.centerTable{
margin-left: auto;
margin-right: auto;
}

.centerTable thead{
font-weight: bold;
}

.centerTable td
{
text-align: center;
vertical-align: center;}



div{
margin: auto;
width: 50%;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

textarea{
height:400px;
width: 75%;}

.card{
width:75%}

