<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
</head>
<body>
<form th:action="@{/notifychange/{path} (path=${sessionname})}" method="post">
<!--<form th:action="@{/Session/admin/{path}/start (path=${sessionname})}" method="post">-->
    <input type="hidden" value="Answers next" name="name">
  <button type="submit" value="Session starten" name="sessionstart" style="width:100%">Session start</button>
</form>
<form th:action="@{/getUserList}" method="post">
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <button type="submit" value="getUserList" name="userlist" style="width:100%">User Liste abrufen</button>
</form>
<form th:action="@{/getQuestions}" method="post">
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <button type="submit" value="getQuestions" name="questionlist" style="width:100%">Frage Liste abrufen</button>
</form>

<table>
    <tr th:each="user:${users}">
        <td><span th:text="${user.id}"> UserId </span></td>
        <td><span th:text="${user.name}"> User </span></td>
    </tr>
</table>

<table>
    <tr th:each="card:${cards}">
        <td><span th:text="${card.question.question}"> Question </span></td>
        <td><span th:text="${card.question.questionUser}"> User </span></td>
    </tr>
</table>
</body>
</html>