<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<body th:insert="~{headline :: headline}"></body>
<body>
<form th:action="@{/getAnswers}" method="post">
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <button type="submit" value="getAnswers" name="answerlist" style="width:100%">Antwort Liste abrufen</button>
</form>


<table style="width:100%">
    <tr th:each="card:${cards}">
        <td>
            <table style="width:100%">
                <tr>
                <td style="text-align:center; width:50%" th:text="${card.question.value}"/>
                <td style="text-align:center; width:100%" th:text="${card.question.user}"/>
                </tr>
            </table>
        </td>
        <td>
            <table style="width:100%">
                <tr th:each="answer:${card.answerEvaluationMap}">
                    <td style="text-align:center; width:50%" th:text="${answer.value.value}"/>
                    <td style="text-align:center; width:100%" th:text="${answer.value.user}"/>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br><br>

<form th:action="@{/notifychange/{path} (path=${sessionname})}" method="post">
    <input type="hidden" value="Evaluation" name="name">
    <button type="submit" value="Evaluation" name="evaluation" style="width:100%">Zu Evaluationen uebergehen</button>
</form>
</body>
<body th:insert="~{footer :: footer}"></body>
</html>