<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<body th:insert="~{headline :: headline}"></body>
<body>
<form th:action="@{/getEvaluations}" method="post">
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <button type="submit" value="getEval" name="evallist" style="width:100%">Evaluationen Liste abrufen</button>
</form>
<table style="width:100%">
    <tr th:each="card:${cards}">
        <td style="width=25%" th:text="${card.question.value}"/>
        <td style="width=25%">
            <table style="width:100%">
                <tr th:each="evalq: ${card.questionEvaluations}">
                    <td style="width:75%" th:text="${evalq.value.value}"/>
                    <td style="width:25%" th:text="${evalq.value.user}"/>
            </table>
        </td>
        <td style="width=50%">
            <table style="width:100%">
                <tr th:each="answer: ${card.answerEvaluationMap}">
                    <td style="text-align:center; width=50%" th:text="${answer.value.value}"/>
                    <td style="width:50%">
                        <table style="width:100%">
                            <tr th:each="evala: ${answer.value.evaluationList}">
                                <td style="width:75%" th:text="${evala.value}"/>
                                <td style="width:25%" th:text="${evala.user}"/>
                        </table>
                    </td>
            </table>
        </td>
    </tr>
</table>
<br><br>

<form th:action="@{/notifychange/{path} (path=${sessionname})}" method="post">
    <input type="hidden" value="Results" name="name">
    <button type="submit" value="Results" name="results" style="width:100%">Zu Zusammenfassung uebergehen</button>
</form>
</body>
<body th:insert="~{footer :: footer}"></body>
</html>