<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<body th:insert="~{headline :: headline}"></body>
<body>
<form th:action="@{/getUserList}" method="post">
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <button type="submit" value="getUserList" name="userlist" style="width:100%">User Liste abrufen</button>
</form>
<form th:action="@{/getQuestions}" method="post">
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <button type="submit" value="getQuestions" name="questionlist" style="width:100%">Frage Liste abrufen</button>
</form>
<br><br>
<table style="width:100%">
    <tr th:each="user:${users}">
        <td style="text-align:center; width:50%"><span th:text="${user.name}"> User </span></td>
    </tr>
</table>

<table style="width:100%">
    <tr th:each="card:${cards}">
        <td style="text-align:center; width:50%"><span th:text="${card.question.value}"> Question </span></td>
        <td style="text-align:center; width:50%"><span th:text="${card.question.user}"> User </span></td>
    </tr>
</table>
<br><br>

<form th:action="@{/notifychange/{path} (path=${sessionname})}" method="post">
    <input type="hidden" value="Answers" name="name">
    <button type="submit" value="Answers" name="answers" style="width:100%">Zu Antworten uebergehen</button>
</form>

</body>
<body th:insert="~{footer :: footer}"></body>
</html>