<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
</head>
<body>
<span th:text="${'user: ' + user}">Test</span>
<form th:action="@{/notifychange/{path} (path=${sessionname})}" method="post">
<!--<form th:action="@{/Session/admin/{path}/start (path=${sessionname})}" method="post">-->
    <input type="hidden" value="Answers next" name="name">
  <button type="submit" value="Session starten" name="sessionstart" style="width:100%">Session start</button>
</form>
</body>
</html>