<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <nav class="navbar fixed-bottom bg-body-tertiary bg-dark border-body" data-bs-theme="dark">
      <div class="container-fluid">
      <div class="text-white">Syseraud</div>
      <div class="nav pull-right">
      <form th:action="@{/openImpressum}" method="get">
          <button id="openImpressum" type="submit" value="openImpressum" name="openImpressum">Impressum</button>
      </form>
      </div>
      </div>
    </nav>

</div>

</body>
</html>