<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body th:insert="headline :: headline"></body>
<body>
<table style="width:100%">
    <tr><td style="text-align:center"><h1>Syseraud</h1></td></tr>
    <tr><td style="text-align:center"><h3>Peer-Feedback-Oriented Audience Response System</h3></td></tr>
</table>
<table style="width:100%">
    <tr></tr>
    <form th:action="@{/MainMenu}" method="post">
        <tr><td style="text-align:right;width:50%">Name:<td><input type="text" placeholder="Name eingeben" name="name"></td></td></tr><br>
        <tr><td style="text-align:right;width:50%">Passwort:<td><input type="password" placeholder="Passwort eingeben" name="pwd"></td></td></tr><br>
        <input type="hidden" name="login">
        <tr><td style="text-align:right"><input type="submit" value="Login" id="login"></td>
    </form>
    <br>
    <form action="register" method="get">
        <td style="text-align:left"><input type="submit" value="Registrieren" id="register"></td></tr>
    </form>
    <br><br><br>
</table>
    <span th:if="${add == true}">Registrierung erfolgreich. Bitte einloggen</span>
    <span th:if="${failed == true}" th:text="${'Login fehlgeschlagen, Benutzer ' + name + ' nicht vorhanden'}">Login fehlgeschlagen, Benutzer noch nicht vorhanden</span>
    <span th:if="${failed2 == true}">Login fehlgeschlagen, falsches Passwort eingegeben</span>
</body>
<body th:insert="footer :: footer"></body>
</html>