<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body th:insert="headline :: headline"></body>
<body>
<table style="width:100%">
    <tr><td style="text-align:center"><h2>Erstellen einer Session</h2></td> </tr>
</table>
<form th:action="@{/SessionCreate}" method="post">
    <input type="hidden" th:value="${name}" name="name">
    <table style="width:100%;">
        <tr>
            <td style="width:25%"></td><td style="text-align:center;"><input type="text"  name="sessionname" placeholder="Session Name"></td><td style="width:25%"></td>
        </tr>
        <tr>
            <td style="width:25%"></td><td style="text-align:center;"><button type="submit" value="Session erstellen" name="session" style="width:100%">Session erstellen</button> </td><td style="width:25%"></td>
        </tr>
    </table>
    <span th:if="${sessionfailed == true}">Session existiert bereits, bitte neuen Namen vergeben</span>
</form>
</body>
<body th:insert="footer :: footer"></body>
</html>