<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body th:insert="headline :: headline"></body>
<body>
    <table style="width:100%">
        <tr><td style="text-align:center"><h2><span th:text="${'http://localhost:8080/Session/' + sessionname}">Test</span></h2></td></tr>
    </table>
    <br>
    <img th:src="@{'data:image/png;base64,'+${encoded}}"/>
    <br><br><br><br>
    <form th:action="@{/Session/admin/{path}(path=${sessionname})}" method="post">
        <button type="submit" value="Session starten" name="sessionstart" style="width:100%">Session start</button>
    </form>
</body>
<body th:insert="footer :: footer"></body>
</html>