<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<body th:insert="~{headline :: headline}"></body>
<body>
    <h2 style="text-align:center">Einstellungen</h2>
    <div>
    <form th:action="@{/password}" method="post">
        <input type="hidden" th:value="${name}" name="name">
        Altes Passwort: <input type="password" placeholder="Passwort eingeben" name="oldpwd"><br>
        Neues Passwort: <input type="password" placeholder="Passwort eingeben" name="newpwd"><br>
        <Button type="submit" value="Passwort" id="password">Passwort ändern</Button>
    </form>
    <form th:action="@{/MainMenu}" method="post">
        <input type="hidden" th:value="${name}" name="name">
        <Button type="submit" value="Zurück" id="back">Zurück</Button>
    </form>
    <br>
    <span th:if="${failed == true}">Neues Passwort darf nicht altes Passwort sein</span>
    <span th:if="${failed2 == true}">Falsches Passwort eingegeben</span>
    <span th:if="${pwdchanged == true}">Passwort erfolgreich geändert</span>
    </div>
</body>
<body th:insert="~{footer :: footer}"></body>
</html>