<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<body th:insert="~{headline :: headline}"></body>
<body>
<div>
<h3>Willkommen bei Syseraud</h3>
<h4><span th:text="${'Einloggen für die Session: ' + sessionname}">Question</span></h4>
</div>
<div>
  <form th:action="@{/Session/userlogin}" method="post">
    Name eingeben: <input type="text" placeholder="Name eingeben" name="name"><br>
    <input type="hidden" th:value="${sessionname}" name="sessionname">
    <input type="submit" value="Login" id="login">
  </form>
</div>
</body>
<body th:insert="~{footer :: footer}"></body>
</html>