<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/
            var ses = /*[[${sessionname}]]*/;
            var error = /*[[${error}]]*/;
            console.log(ses);
        /*]]>*/
    </script>
    <script>
    $(document).ready(function() {
        if(error==true){
            document.getElementById('submitting').disabled = true;
        }
        var urlEndPoint = '/notify/'+ses;
        console.log(urlEndPoint);
        var eventSource = new EventSource(urlEndPoint);

        eventSource.addEventListener("name", function(event){
            console.log(event.data);
            document.getElementById('openEval').disabled = false;
            document.getElementById('openEval').click();
        })
    })
</script>
</head>
<body th:insert="~{headline :: headline}"></body>
<body>

<p th:if="${error == true}" style="text-align:center">Keine Frage verfügbar, bitte warten</p>
<p th:unless="${error == true}" style="text-align:center"><span th:text="${question}">Question</span></p>
<br>
<p style="text-align:center">
<form style="text-align:center" th:action="@{/Session/{path}/userAnswer (path=${sessionname})}" method="post">
    <input type="hidden" name="name" th:value="${user}">
    <input type="hidden" name="id" th:value="${userId}">
    <input type="hidden" name="question" th:value="${question}">
    <input type="hidden" name="questionId" th:value="${questionId}">
    <textarea type="text" placeholder="Antwort eingeben" name="answer"></textarea><br><br><br>
    <label for="difficulty" class="form-label">Ich finde diese Frage </label><br>
    <span>Leicht </span><input type="range" class="form-range" min="0" max="4" style="width:50%;" name="difficulty" id="difficulty"><span> Schwer</span>
    <br>
    <button type="submit" value="Abgeben" id="submitting">Abgeben</button>
</form>
</p>
<br>
<form th:action="@{/Session/{path}/openEval (path=${sessionname})}" method="post">
    <input type="hidden" name="name" th:value="${user}">
    <input type="hidden" name="id" th:value="${userId}">
    <button id="openEval" type="submit" style="display:none;" value="openEval" name="event" disabled>Evaluation öffnen</button>
</form>
</body>
<body th:insert="~{footer :: footer}"></body>
</html>