<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head"></head>
<body th:insert="headline :: headline"></body>
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/
            var ses = /*[[${sessionname}]]*/;
            var error = /*[[${error}]]*/;
            console.log(ses);
        /*]]>*/
    </script>
    <script>
    $(document).ready(function() {
        if(error==true){
            document.getElementById('submitting').disabled = true;
        }
        var urlEndPoint = '/notify/'+ses;
        console.log(urlEndPoint);
        var eventSource = new EventSource(urlEndPoint);

        eventSource.addEventListener("name", function(event){
            console.log(event.data);
            document.getElementById('openFinal').disabled = false;
            document.getElementById('openFinal').click();
        })
    })
</script>
</head>
<body th:insert="headline :: headline"></body>
<body>
<p style="text-align:center">
<form style="text-align:center" th:action="@{/Session/{path}/userEval (path=${sessionname})}" method="post">
    <input type="hidden" name="name" th:value="${user}">
    <input type="hidden" name="id" th:value="${userId}">
    <input type="hidden" name="question" th:value="${question}">
    <input type="hidden" name="questionId" th:value="${questionId}">
    <input type="hidden" name="answer" th:value="${answer}">
    <input type="hidden" name="answerId" th:value="${answerId}">
    <table style="width: 100%">
        <tr>
           <td>
               <p th:if="${error == true}" style="text-align:center">Keine Frage verfügbar, bitte warten</p>
               <p th:unless="${error == true}" style="text-align:center"><span th:text="${question}">Question</span></p>
           </td>
           <td>
               <p th:if="${error == true}" style="text-align:center">Keine Antwort verfügbar, bitte warten</p>
               <p th:unless="${error == true}" style="text-align:center"><span th:text="${answer}">Antwort</span></p>
           </td>
        </tr>
        <tr>
           <td>    <textarea type="text" placeholder="Evaluation zu Frage eingeben" name="evalq"></textarea></td>
           <td>    <textarea type="text" placeholder="Evaluation zu Antwort eingeben" name="evala"></textarea><br></td>
       </tr>
    </table>
    <button type="submit" value="Abgeben" id="submitting">Abgeben</button>
</form>
</p>
<br>
<form th:action="@{/Session/{path}/openFinal (path=${sessionname})}" method="post">
    <input type="hidden" name="name" th:value="${user}">
    <input type="hidden" name="id" th:value="${userId}">
    <button id="openFinal" type="submit" style="display:none;" value="openFinal" name="event" disabled>Zusammenfassung öffnen</button>
</form>
</body>
<body th:insert="footer :: footer"></body>
</html>