<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: head"></head>
<body th:insert="headline :: headline"></body>
<head>
  <script th:inline="javascript">
        /*<![CDATA[*/
            var ses = /*[[${sessionname}]]*/;
            console.log(ses);
        /*]]>*/
    </script>
  <script>
    $(document).ready(function() {
        var urlEndPoint = '/notify/'+ses;
        console.log(urlEndPoint);
        var eventSource = new EventSource(urlEndPoint);

        eventSource.addEventListener("name", function(event){
            console.log(event.data);

        })
    })
</script>
</head>
<body>

<br>
<p style="text-align:center">

  <th:block th:each="card:${cards}">
    <div class="card card-body">
      <table class="table table-bordered">
        <tr>
          <td th:text="${card.question.value}"/>
        </tr>
        <tr>
          <td>
            <table class="table table-bordered">
              <tr th:each="evalq: ${card.questionEvaluations}">
                <td th:text="${evalq.value.value}"/>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="table table-bordered">
              <tr th:each="answer: ${card.answerEvaluationMap}">
                <td th:text="${answer.value.value}"/>
                <td>
                  <table>
                    <tr th:each="evala: ${answer.value.evaluationList}">
                      <td th:text="${evala.value}"/>
                    </tr>
                  </table>
                </td>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </th:block>
</p>
</body>
<body th:insert="footer :: footer"></body>
</html>