<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{header :: head}"></head>
<head>
  <script th:inline="javascript">
        /*<![CDATA[*/
            var ses = /*[[${sessionname}]]*/;
            console.log(ses);
        /*]]>*/
    </script>
  <script>
    $(document).ready(function() {
        var urlEndPoint = '/notify/'+ses;
        console.log(urlEndPoint);
        var eventSource = new EventSource(urlEndPoint);

        eventSource.addEventListener("name", function(event){
            console.log(event.data);

        })
    })
</script>
</head>
<body th:insert="~{headline :: headline}"></body>
<body>

<br>

<th:block th:each="card:${cards}">
  <div class="card card-body">
    <table class="table table-bordered">
      <div class="card-text">
        <tr>
          <td th:text="${card.question.value}"></td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table table-bordered">
              <tr th:each="evalq: ${card.questionEvaluations}">
                <td style="text-align:center; width:80%" th:text="${evalq.value.value}"/>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table table-bordered">
              <tr th:each="answer: ${card.answerEvaluationMap}">
                <td style="text-align:center; width:40%" th:text="${answer.value.value}"/>
                <td style="text-align:center; width:50%">
                  <table class="table table-bordered">
                    <tr th:each="evala: ${answer.value.evaluationList}">
                      <td style="text-align:center; width:80%"th:text="${evala.value}"/>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </div>
    </table>
  </div>
</th:block>
</body>
<body th:insert="~{footer :: footer}"></body>
</html>